<h1>List of Books</h1>
<ul><% @books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book) %>
    <%= book.author %>
  <% end %></li>
</ul>

<div><%= link_to 'Add Book', new_book_path %></div>
<p><%= link_to 'Go back to authors page', authors_path %></p>